<div class="header gradient noselect">
    <i class="fa fa-bath fa-4x" aria-hidden="true"></i>
    <h2>Jurado</h2>
    <p  class="description">All for freedom</p>
</div>

<div id="navBar" class="navbar">
    <a id="home" class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
    <a id="statement" href="#"><i class="fa fa-gavel" aria-hidden="true"></i> Statement</a>
    <a id="search" href="#"><i class="fa fa-fw fa-search"></i> Search</a>
    <a id="contact" href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
    <a id="login" href="#"><i class="fa fa-fw fa-user"></i> Login</a>
</div>
<div id="body"></div>
<footer>

</footer>

