<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <script>
        $(document).ready(function(){
            $('#content').load("login.html");
        });
    </script>
</head>
<body>
    <div class="header gradient noselect">
        <i class="fa fa-bath fa-4x" aria-hidden="true"></i>
        <h2>Jurado</h2>
        <p  class="description">All for freedom</p>
    </div>

    <div class="navbar">
        <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
        <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
    </div>
    <!-- Body -->
    <div id="content"></div>
    <!-- End Body -->
<footer>
    <p>Author: Jon Smith<br>
    <a href="mailto:hege@example.com">hege@example.com</a></p>
  </footer>
</body>
</html>