<div class="row">
    <div class="column column-center">
        <img src="{{url_for('static', filename='images/raised-fist-vector-icon.jpg')}}" alt="Power">
    </div>
    <div id="statementText" class="col-sm" padding>
      <h1>Manifiesto comunista</h1>
      <h3>Un fantasma recorre Europa: el fantasma del comunismo</h3>
      <div class="a">Dondequiera que se instauró, echó por tierra todas las instituciones feudales, patriarcales e idílicas. Desgarró implacablemente los abigarrados lazos feudales que unían al hombre con sus superiores naturales y no dejó en pie más vínculo que el del interés escueto, el del dinero contante y sonante, que no tiene entrañas. Echó por encima del santo temor de Dios, de la devoción mística y piadosa, del ardor caballeresco y la tímida melancolía del buen burgués, el jarro de agua helada de sus cálculos egoístas. Enterró la dignidad personal bajo el dinero y redujo todas aquellas innumerables libertades escrituradas y bien adquiridas a una única libertad: la libertad ilimitada de comerciar. Sustituyó, para decirlo de una vez, un régimen de explotación, velado por los cendales de las ilusiones políticas y religiosas, por un régimen franco, descarado, directo, escueto, de explotación..</div>
    </div>
  </div>